<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板邮件</title>
</head>
<body>
<table align="center">
    <thead>
    <tr>
        <th bgcolor="orange" style="padding: 10px;border-radius: 3px;color: #eee;">模板邮件</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>这是一封模板邮件，请联系邮件的发送者（{{.From}}）确认邮件发送配置是否正确。</td>
    </tr>
    </tbody>
</table>
</body>
</html>